<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Email List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='banner.png') }}" alt="Banner" class="banner">
        <form action="/emaillistcleaner" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv">
            <input type="submit" value="Clean Email List">
        </form>
        <p><a href="{{ url_for('home') }}" class="home-link">Back to Home</a></p>
    </div>
</body>
</html>