<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avian Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Avian Tools</h1>
        <ul>
            <li><a href="{{ url_for('upload_file') }}">Email List Cleaner</a></li>
            <li>Historical Geofence Combiner Tool (Coming Soon)</li>
            <li>Zendesk Email List Downloader Chrome Extension (Coming Soon)</li>
        </ul>
    </div>
</body>
</html>