<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avian Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='homebanner.png') }}" alt="Banner" class="banner">
        </header>
        <main>
            <ul class="tool-list">
                <li><a href="{{ url_for('upload_file') }}" class="tool-link">Email List Cleaner</a></li>
                <li class="coming-soon">Historical Geofence Combiner Tool (Coming Soon)</li>
                <li class="coming-soon">Zendesk Email List Downloader Chrome Extension (Coming Soon)</li>
            </ul>
        </main>
    </div>
</body>
</html>